version: '3.8'

services:
  # 1. User Service (formerly unbox_be)
  unbox-user:
    build:
      context: .
      dockerfile: unbox_user/Dockerfile
    container_name: unbox-user
    ports:
      - "8081:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/unbox_user
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_JWT_SECRET=${SPRING_JWT_SECRET}
      - DB_DRIVER_CLASS_NAME=org.postgresql.Driver
      - ORDER_SERVICE_URL=http://unbox-order:8080
      - PAYMENT_SERVICE_URL=http://unbox-payment:8080
      - TRADE_SERVICE_URL=http://unbox-trade:8080
      - PRODUCT_SERVICE_URL=http://unbox-product:8080
    depends_on:
      - db
      - redis

  # 2. Product Service
  unbox-product:
    build:
      context: .
      dockerfile: unbox_product/Dockerfile
    container_name: unbox-product
    ports:
      - "8082:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/unbox_product
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_JWT_SECRET=${SPRING_JWT_SECRET}
      - DB_DRIVER_CLASS_NAME=org.postgresql.Driver
      - ORDER_SERVICE_URL=http://unbox-order:8080
      - PAYMENT_SERVICE_URL=http://unbox-payment:8080
      - TRADE_SERVICE_URL=http://unbox-trade:8080
      - USER_SERVICE_URL=http://unbox-user:8080
    depends_on:
      - db
      - redis

  # 3. Trade Service
  unbox-trade:
    build:
      context: .
      dockerfile: unbox_trade/Dockerfile
    container_name: unbox-trade
    ports:
      - "8083:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/unbox_trade
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_JWT_SECRET=${SPRING_JWT_SECRET}
      - DB_DRIVER_CLASS_NAME=org.postgresql.Driver
      - PRODUCT_SERVICE_URL=http://unbox-product:8080
      - USER_SERVICE_URL=http://unbox-user:8080
      - ORDER_SERVICE_URL=http://unbox-order:8080
      - PAYMENT_SERVICE_URL=http://unbox-payment:8080
    depends_on:
      - db
      - redis

  # 4. Payment Service
  unbox-payment:
    build:
      context: .
      dockerfile: unbox_payment/Dockerfile
    container_name: unbox-payment
    ports:
      - "8085:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/unbox_payment
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_JWT_SECRET=${SPRING_JWT_SECRET}
      - DB_DRIVER_CLASS_NAME=org.postgresql.Driver
      - PRODUCT_SERVICE_URL=http://unbox-product:8080
      - USER_SERVICE_URL=http://unbox-user:8080
      - TRADE_SERVICE_URL=http://unbox-trade:8080
      - ORDER_SERVICE_URL=http://unbox-order:8080
    depends_on:
      - db
      - redis

  # 5. Order Service
  unbox-order:
    build:
      context: .
      dockerfile: unbox_order/Dockerfile
    container_name: unbox-order
    ports:
      - "8084:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/unbox_order
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_JWT_SECRET=${SPRING_JWT_SECRET}
      - DB_DRIVER_CLASS_NAME=org.postgresql.Driver
      - USER_SERVICE_URL=http://unbox-user:8080
      - TRADE_SERVICE_URL=http://unbox-trade:8080
      - PAYMENT_SERVICE_URL=http://unbox-payment:8080
      - PRODUCT_SERVICE_URL=http://unbox-product:8080
    depends_on:
      - db
      - redis

  # 6. PostgreSQL
  db:
    image: postgres:16.11-alpine
    container_name: unbox-postgres
    platform: linux/amd64
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./postgres_init:/docker-entrypoint-initdb.d

  # 7. Redis
  redis:
    image: redis:alpine
    container_name: unbox-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
