spring:
  config:
    import: "optional:file:.env[.properties]"

  jwt:
    secret: ${SPRING_JWT_SECRET}

  datasource:
    driver-class-name: ${DB_DRIVER_CLASS_NAME}
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}

cors:
  allowed-origins:
    - "${CORS_ALLOWED_ORIGINS:http://localhost:5173}"

springdoc:
  swagger-ui:
    # 1. 태그 정렬 기능을 끕니다. (제거해야 자바 코드의 orderedTags 순서가 반영됨)
    tags-sorter: alpha

    # 2. 메서드 정렬 (GET, POST 등 메서드 기준으로 정렬하여 CRUD 가독성 확보)
    operations-sorter: method

    # 3. 그룹 정렬 (0.전체 -> 1.사용자 -> 2.관리자 순)
    groups-order: ASC

    # 4. 기타 UI 설정
    doc-expansion: none
    display-request-duration: true