spring:
  config:
    import: "optional:file:.env[.properties]"

  jwt:
    secret: ${SPRING_JWT_SECRET}

  datasource:
    driver-class-name: ${DB_DRIVER_CLASS_NAME}
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}

cors:
  allowed-origins:
    - "${CORS_ALLOWED_ORIGINS:http://localhost:5173}"