spring:
  config:
    import: "optional:file:.env[.properties]"

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


  data:
    redis:
      # 로컬 실행(localhost)과 도커 실행(redis) 모두 대응하기 위해 환경변수 사용
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: 6379