spring:
  application:
    name: unbox_trade
  
  config:
    import: "optional:file:.env[.properties]"

  datasource:
    driver-class-name: ${DB_DRIVER_CLASS_NAME:org.postgresql.Driver}
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # Redis
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}
      port: ${SPRING_DATA_REDIS_PORT:6379}

  jwt:
    secret: ${SPRING_JWT_SECRET}

# Custom Feign Client URLs
product-service:
  url: ${PRODUCT_SERVICE_URL:http://localhost:8081}
user-service:
  url: ${USER_SERVICE_URL:http://localhost:8081}

cors:
  allowed-origins:
    - "${CORS_ALLOWED_ORIGINS:http://localhost:5173}"

springdoc:
  swagger-ui:
    doc-expansion: none
    tags-sorter: alpha
    operations-sorter: alpha
    custom-path: /css/swagger-custom.css
